<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Registration</ion-title>
    <ion-button slot="start">
      <ion-icon name="arrow-back-outline" defaultHref="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div><h3 style="color: rgb(59, 112, 5);" ><u>Student Registration</u></h3>
 </div>
  <ion-item>
  <ion-label>First Name : </ion-label>
  <ion-input placeholder="Enter Your First Name"></ion-input>
 </ion-item>
 <ion-item>
  <ion-label>Last Name : </ion-label>
  <ion-input placeholder="Enter Your Last Name" autofocus></ion-input>
 </ion-item>
 <ion-item>
  <ion-label>Date of Birth : </ion-label>
  <ion-input placeholder="dd/mm/yyyy"></ion-input>
 </ion-item>
 <ion-item>
  <ion-label>Age : </ion-label>
  <ion-input placeholder="Enter your age" type="Number"></ion-input>
 </ion-item>
 <ion-item>
  <ion-label>Email : </ion-label>
  <ion-input placeholder="Enter your email id" type="email"></ion-input>
 </ion-item>
 <ion-item>
  <ion-label position="stacked">Enter your Address :</ion-label>
  <br>
  <ion-input placeholder="Address Line 1"></ion-input>
  <ion-input placeholder="Address Line 2"></ion-input>
  <ion-input placeholder="City"></ion-input>
  <ion-input placeholder="State"></ion-input>
  <ion-input placeholder="Zip Code" type="number"></ion-input>
</ion-item>
 <ion-button color="primary">SUBMIT</ion-button>
</ion-content>
